body {
}

.App {
  text-align: center;
  padding-top: 60px;
}


.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container form input {
  margin-bottom: 20px;
}

.link-container {
  margin-bottom: 10px;
}

.signup-form {
  margin-top: 30px;
}

.signup-form input {
  margin-bottom: 20px;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.link-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007BFF;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.link-button:hover {
  background-color: #0056b3;
}

.message {
  color: red;
  text-align: center;
}


/* Dashboard styles start */
.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sheets {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.sheet {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  background-color: #007BFF;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

.upload-button:hover {
  background-color: #0056b3;
}

.message {
  color: green;
}

.sheet img {
  max-width: 100%;
  height: 100%;
}

.logout-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #0056b3;
}

.navbar {
  overflow: hidden;
  /* background-color: white; */
  background-color: rgba(255, 255, 255, 0.2); /* This sets the background color to black with 50% opacity */
  backdrop-filter: blur(5px); /* Optional: adds a blur effect to the content under the navbar */
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  /* border-bottom: #8a8a8a 1px solid; */
}

.logo-container {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.brand-name {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.nav-link, .nav-link:visited, .nav-link button {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 17px;
  margin-right: 10px;
  border-radius: 5px;
  background-color: black;
  cursor: pointer;
  border: none;
}

.nav-link:hover {
  background-color: #007BFF;
}

.navbar-logo {
  width: 80px;
  
}

.bento-box {
  margin: auto;
  padding: 80px;
  border-radius: 8px;
}

h1 {
  margin: 0;
  font-size: 40px;
}


.landing-page {
  background-image: url('background2.jpg');
  background-size: cover;
  background-position: top center;
  height: 100vh;
  margin-top: -60px;
  padding-top: 60px;
}

.spacer {
  flex-grow: 0;
  flex-shrink: 0;
  height: 50px;
}