.background-image-container {
  background-image: url('../images/EmptyStage.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Sets the height of the container to fill the viewport */
  /*filter: grayscale(100%); /* Converts the image to black and white */
}

.create-button {
  padding: 7px 10px;
  color: #fff;
  background-color: #669bbc;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 10px;
}

.custom-h2 {
  font-size: 54px; 
  color: #353535; /* font color */
  font-weight: 1200;
  margin-bottom: 50px; /* Add margin to separate from the form */  
}

.song-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.song-container-big {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Set height to fill viewport */
}

.newSongForm {
  border-radius: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column; /* Align items vertically */
  align-items: center;
}

.newSong-div {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px; 
  height: 300px; 
  background-color: #f5f5f5; 
  padding: 20px; /* Add padding to ensure content is within the box */
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .background-image-container {
    height: auto; /* Adjust height to fit content */
  }

  .custom-h2 {
    font-size: 40px; /* Decrease font size for smaller screens */
  }

  .newSong-div {
    width: 90%; /* Adjust width to fit smaller screens */
  }
}

@media only screen and (max-width: 576px) {
  .custom-h2 {
    font-size: 30px; /* Further decrease font size for smaller screens */
  }
}
