.container {
  max-width: 800px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  flex: 1;
}

.search-button {
  margin-left: 10px;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
}

/* Optionally, you could style the scrollbar */
.table-container::-webkit-scrollbar {
  width: 10px;
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.table-container::-webkit-scrollbar-thumb {
  background: #888;
}

.table-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.song-list {
  list-style-type: none;
  padding: 0;
}

.song-list li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.song-list li button {
  margin-left: 10px;
}
.song-list {
  margin-left: 20px;
}

/* Media queries for mobile responsiveness */
@media only screen and (max-width: 768px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 576px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
