<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Crescendo</title>
</head>
<body>

<h1>Your Library</h1>
<li class="nav-item"><a class="nav-link" href="/songs/create">Add New Song</a></li>


<table class="table table-striped table-advanced table-hover">
<thead>
<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Musician/Show</th>
    <th>Notes</th>

</tr>
</thead>
<tr th:each="song:${songs}">
<td th:text="${song.id}"></td>
<td th:text="${song.title}"></td>
<td th:text="${song.musician}"></td>
    <td th:text="${song.notes}"></td>
    <td>
        <a th:href="@{/songs/update/{id}(id=${song.id})}">Update</a>
        <a th:href="@{/songs/delete/{id}(id=${song.id})}">Delete</a>
    </td>

</tr>
</table>

</body>
</html>

// have not tried this out yet
<form th:action="@{/songs}" method="get">
    <input id="txtSearch" type="text" name="keyword">
    <button type="submit">Search</button>
</form>

<table class ="table table-striped table-advanced table-hover">
    <tbody>
        <tr>
        <th>Photo</th>
            <th><i class="icon_???"></i>Title</th> ?? could add small icon image for each
            <th><i></i>Musician/Show Title</th>
            <th><i></i>Notes</th>
        </tr>
    </tbody>
</table>